<%= form_for(punch) do |f| %>
  <% if punch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
      <% punch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :punch_at %>
    <%= f.datetime_select :punch_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
