<!DOCTYPE html>
<html>
  <head>
    <title>PunchDrunker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p/>
    <% if current_user.present? %>
      <div>token: <%= current_user.punch_token %> / <%= link_to 'regenerate', regen_path %></div>
      <div><%= link_to 'logout', logout_path %></div>
    <% end %>
  </body>
</html>
